@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-theme-white: theme('colors.theme.white');
  --color-theme-pale: theme('colors.theme.pale');
  --color-theme-pale2: theme('colors.theme.pale2');
  --color-theme-light: theme('colors.theme.light');
  --color-theme-teal: theme('colors.theme.teal');
  --color-theme-lightteal: theme('colors.theme.lightteal');
  --color-theme-verylightteal: theme('colors.theme.verylightteal');
  --color-theme-blue: theme('colors.theme.blue');
  --color-theme-navyblue: theme('colors.theme.navyblue');
  --color-theme-darkblue: theme('colors.theme.darkblue');
  --color-theme-lightgray: theme('colors.theme.lightgray');
  --color-theme-gray: theme('colors.theme.gray');
  --color-theme-gray2: theme('colors.theme.gray2');
  --color-theme-darkgray: theme('colors.theme.gray');
  --color-theme-orange: theme('colors.theme.orange');
  --color-theme-purple: theme('colors.theme.purple');
  --color-theme-black: theme('colors.theme.black');
}

.carousel .carousel__pagination {
  gap:6px !important;
}
.carousel .carousel__pagination .carousel__pagination-button {
  width:20px;
  height:20px;
}
.carousel .carousel__pagination .carousel__pagination-button:after {
  width:14px;
  height:14px;
  border-radius:100%;
  background-color:var(--color-theme-teal);
}
.carousel .carousel__pagination .carousel__pagination-button.carousel__pagination-button--active:after {
  background-color:white;
}
.homepage-carousel .carousel__slide {
  max-height: calc(100vh - 100px);
}

@media (max-height: 600px) {
  .carousel .carousel__pagination {
    display: none;
  }
}


@layer base {

  @font-face {
    font-family: 'Outfit';
    src: url('/src/assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
  }

  :root {
    font-family: Outfit, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #090d1f;
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  #app {
    min-width: 320px;
    /* width: calc(100vw - (100vw - 100%)); */
    width: 100dvw;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:var(--color-theme-white);
    color:black;
  }

  h1,h2,h3,h4,h5,h6 {
    color:var(--color-theme-black);
    font-weight:600;
  }
  h2 {
    font-size:20px;
  }
  hr {
    border-width:1px;
    border-top:1px;
  }
}

@layer components {

  a {
    font-weight: 500;
    color: var(--color-theme-black);
    text-decoration: inherit;
  }

  a:hover,.linklike:hover {
    opacity:0.8;
  }
  .linklike {
    cursor:pointer
  }
  .buttonlike {
    background-color:var(--color-theme-teal);
    color:var(--color-theme-white);
    padding:10px 20px;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--color-theme-white);
    background-color: var(--color-theme-teal);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:disabled {
    opacity:0.5;
  }
  button:disabled:hover {
    outline:none;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  input:focus-visible {
    outline:none;
  }

  .card {
    padding: 2em;
  }
  .carousel-controls input[type=radio] {
    background-color: var(--color-theme-black);
  }

  .carousel-controls input[type=radio]:checked {
    background-color: var(--color-theme-teal);
  }

  label input[type=checkbox] {
    accent-color:var(--color-theme-teal);
  }

  @supports selector(:has(*)) {

    label.bindle-checkbox:has(> input[type=checkbox]) {
      position:relative;
      left:14px;

    }
    label.bindle-checkbox > input[type=checkbox] {
      appearance:none;
    }

    label.bindle-checkbox:has(> input[type=checkbox]):before {
      content: "\00A0";
      line-height: 12px;
      border: 1px solid #ccc;
      font-size: 12px;
      width: 14px;
      height: 14px;
      display: inline-block;
      overflow: hidden;
      padding-left: 1px;
      border-radius: 3px;
      position: absolute;
      left: -14px;
      top: 4px;
      user-select: none;
      transition: 120ms background-color ease-in-out;
    }

    label.bindle-checkbox:has(> input[type=checkbox]:checked):before {
      content: '\2714';
      color: white;
      display: inline-block;
      background-color: var(--color-theme-teal);
      border-color: var(--color-theme-teal);
      transform: scale(1);
    }

    label.bindle-radio:has(> input[type=radio]) {
      position:relative;
      left:14px;
    }

    label.bindle-radio > input[type=radio] {
      appearance:none;
    }

    label.bindle-radio:has(> input[type=radio]):before {
      content: "\00A0";
      line-height: 12px;
      border: 1px solid #ccc;
      font-size: 12px;
      width: 14px;
      height: 14px;
      display: inline-block;
      overflow: hidden;
      padding-left: 1px;
      border-radius: 14px;
      position: absolute;
      left: -14px;
      top: 4px;
      user-select: none;
    }

    label.bindle-radio:has(> input[type=checkbox]:checked):before {
      content: '\2714';
      color: white;
      display: inline-block;
      background-color: var(--color-theme-teal);
      border-color:var(--color-theme-teal);
    }

  }

  input[type="radio"].bindle-radio {
    /* normalise and hide the default one */
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--color-theme-teal);
    border-radius: 50%;
    transform: translateY(0.075em);
    display: inline-grid;
    place-content: center;
    cursor:pointer;
  }

  input[type="radio"].bindle-radio::before {
    content: "";
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    box-shadow: inset 1em 1em var(--color-theme-teal);
    cursor:pointer;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }

  input[type="radio"].bindle-radio:checked::before {
    transform: scale(1);
  }

  .radio-links input[type='radio'] {
    display:none
  }

  .radio-links input[type='radio']:checked + label {
    color:var(--color-theme-teal);
    text-decoration:underline;
  }

  table.info tr td {
    padding:4px;
  }
  table.info tr td:first-child {
    font-weight:600;
    padding-right:16px;
  }
  table.info tr td:first-child:after {
    content:":";
  }
  table.info tr:nth-child(even) {
    background-color:#f8f8f8;
  }

  select {
    background-color:transparent;
    border-radius:2px;
    border:1px solid #ddd;
    padding:4px 8px;
  }
}

@layer utilities {
  /* spinner */
  .working-spinner, .working-spinner-xl {
    position:relative;
    opacity:0.5;
    pointer-events:none;
  }
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  .working-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-right: 4px solid transparent;
    animation: spinner 1.2s linear infinite;
    z-index:100;
    border-top: 4px solid #6fb3b2;
  }
  .working-spinner-xl {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width:240px;
    height:240px;
    margin-top:-120px;
    margin-left: -120px;
    border-radius: 50%;
    border-right: 4px solid transparent;
    animation: spinner 1.2s linear infinite;
    z-index:100;
    border-top: 4px solid #6fb3b2;
  }

  .rotate-5 { transform:rotate(5deg); }
  .-rotate-5 { transform:rotate(-5deg); }
  .rotate-10 { transform:rotate(5deg); }
  .-rotate-10 { transform:rotate(-5deg); }
  .scale-50 { transform:scale(0.5); }
  .scale-60 { transform:scale(0.6); }
  .scale-70 { transform:scale(0.7); }
  .scale-80 { transform:scale(0.8); }
  .scale-90 { transform:scale(0.9); }
  .shadow-1 { box-shadow: 0 0 5px #555 }
}



.bbb {
  border: 1px solid red;
}
.Toastify__toast-container {
  max-width: 500px;
  width: 100%;
}
.Toastify__close-button {
  display: none;  
}

.Toastify__toast {
  padding: 0;
}

.Toastify__toast-body {
  padding: 0;
}
